project:
  type: website
  output-dir: ./docs

website:
  title: "Digital Atlas of Tajik Dialects"
  navbar:
    left:
      - href: about.qmd
        text: About

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
    echo: false

editor: source

